html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 40%;
    transition: transform 0.5s;
}

.tilt {
    transform: rotate(-45deg);
}

.waterdrop {
    width: 20px;
    position: absolute;
    display: none;
}

#flower {
    width: 50px;
    /* Adjust based on your image */
    height: auto;
    /* Maintain aspect ratio */
    display: none;
    /* Initially hidden */
}

#net {
    height: 250px;
    width: auto;
    position: absolute;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}