html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 150px;
    position: fixed;
    bottom: 20%;
    left: 40%;
    transition: transform 0.5s;
}

.tilt {
    transform: rotate(-45deg);
}


.waterdrop {
    width: 10px;
}

#net {
    height: 600px;
    width: auto;
    position: absolute;

}

/* Ash */

.apple {
    width: auto;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    ;
}


#apple1 {
    height: 50px;
    top: 10%;
}

#apple2 {
    height: 60px;
    top: 20%;
}

#apple3 {
    height: 40px;
    width: auto;
    top: 15%;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 58%;
    height: 95%;
    z-index: -2;

}

.trial {
    position: fixed;
    overflow: hidden;
    height: 40%;
    width: 30%;
    left: 63%;
    bottom: 50%;
    z-index: 0;
}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;
}

/* Ash */

#garden {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: lightgreen;
}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}