html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 150px;
    position: fixed;
    bottom: 20%;
    left: 40%;
    transition: transform 0.5s;
}

.tilt {
    transform: rotate(-45deg);
}


.waterdrop {
    width: 10px;
}

#net {
    height: 250px;
    width: auto;
    position: absolute;
}


@keyframes rotateAndBack {

    /* Keyframes for animation of net */
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-100deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@keyframes rotateAndBackFlipped {

    /* Keyframes for animation of flipped net */
    0% {
        transform: scaleX(-1) rotate(0deg);
    }

    50% {
        transform: scaleX(-1) rotate(-100deg);
    }

    100% {
        transform: scaleX(-1) rotate(0deg);
    }
}

/* Animation classes */
.rotate {
    animation: rotateAndBack 1s ease;
}

.rotateFlipped {
    animation: rotateAndBackFlipped 1s ease;
}


.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}